.dataAnalysisContainer {
  width: 100%;
  height: calc(100vh - 95px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .dataAnalysisContainer {
    height: calc(100vh - 80px);
  }
}

@media (max-width: 480px) {
  .dataAnalysisContainer {
    height: calc(100vh - 70px);
  }
}

@media (max-width: 360px) {
  .dataAnalysisContainer {
    height: calc(100vh - 65px);
  }
}
