SETTINGS__SECRET_KEY=
SETTINGS__ALGORITHM=HS256
SETTINGS__ACCESS_TOKEN_EXPIRE_MINUTES=6000

OPENAI__API_KEY=
OPENAI__EMBEDDING_MODEL=text-embedding-3-large
OPENAI__MODEL_NAME=gpt-4.1
OPENAI__TEMPERATURE=0.2
OPENAI__TOP_P=1.0

POSTGRES__HOST=localhost
POSTGRES__PORT=5432
POSTGRES__USERNAME=
POSTGRES__PASSWORD=
POSTGRES__DB=
POSTGRES__LIMIT=100

GEMINI__API_KEY=

GMAIL__EMAIL=
GMAIL__PASSWORD=

NOTEBOOKLM__AUTO_LOGIN=true
NOTEBOOKLM__HEADLESS=false
CLAUDE__API_KEY=
