<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform 
      processPath="C:\Users\ngoc\tts\.venv\Scripts\python.exe"
      arguments="run.py"
      startupTimeLimit="60"
      startupRetryCount="3"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout.log"
      requestTimeout="00:30:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="PLAYWRIGHT_BROWSERS_PATH" value="C:\playwright-browsers" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
